<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="LoginCSS.css">
            <style>
                body{
                    background-color: #323237;
                }
                #Bloc2{
                    margin-top: 20%;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #3f865e">
            <a href="{{ path('listeEntreprise') }}"><img src="LogoNoBackground.png" style="width: 200px;"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mobileMenu">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {% set NomUser = app.session.get('Login') %}
                    {% set Role = app.session.get('Role') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{NomUser}}</a>
                        </li>
                        {% if ( Role.UTI_ROLE == 1 ) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('listeUtilisateurs') }}">Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('AjoutEntreprise') }}">Ajouter une entreprise</a>
                        </li>
                        {% endif %}
                </ul>
            </div>
        </nav>
        {% if app.user %}
            <li class="nav-item">
                <span class="nav-link">Bienvenue !</span>
            </li>
        {% endif %}
        <div id="Bloc2">
            {% block content %}
            {% endblock %}
        </div>
        {% block scripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
