{% extends 'base.html.twig' %}
{% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="../LoginCSS.css">
{% endblock %}
{% block logo %}
     <a href="{{ path('listeEntreprise') }}"><img src="../LogoNoBackground.png" style="width: 200px;"/></a>
{% endblock %}
{% block content %}
    {% set fonctions =[] %}
    <div class="infoEntrCardBody">
        <div class="divGaucheInfos">
            <h2>{{ Entreprise.ENT_RaisonSociale}}</h2>
            <div class="cbxSpecialite">
                <input type="checkbox" value="SLAM" name="SLAM" id="SLAM">
                <label for="SLAM">SLAM</label>
                <input type="checkbox" value="SISR" name="SISR" id="SISR">
                <label for="SISR">SISR</label>
                <input type="checkbox" value="Licence" name="Licence" id="Licence">
                <label for="Licence">Licence</label>
            </div>
            <h3>{{ Entreprise.ENT_RUE}}</h3>
            <h3>{{ Entreprise.ENT_ComplementAdresse}}</h3>
            <h3>{{ Entreprise.ENT_CP}} {{ Entreprise.ENT_Ville}}</h3>
            <h1>Contact</h1>
            <div class="contactEntr">
            {% for PERSONNE in Personnes %}
            {% set fonctions = PERSONNE.getFonction() %}
            {% set PersonnesP = PERSONNE.getFonction() %}
                <div class="contactUnite">
                    <h4>{{ PERSONNE.PER_NOM}} {{ PERSONNE.PER_PRENOM}}</h4>
                    <h4>{{ PERSONNE.PER_MAIL}}</h4>
                    <h4>{{ PERSONNE.PER_TEL}}</h4>
                    {% for Lafonction in fonctions %}
                        <h4>{{ Lafonction.getfonlibelle()}}</h4>
                    {% endfor %}
                    {% for profil in Profils %}
                        {% if profil.id == PERSONNE.id %}
                        <h4>{{ profil.pro_libelle }}</h4>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            {% set Role = app.session.get('Role') %}
            {% if Role.UTI_ROLE == 1 %}
                <div><a href="{{ path('AjouterPersonne') }}" class="BtnAjouterPers">Ajouter des contacts</a></div>
            {% endif %}
        </div>
        <div class="divDroiteMaps">
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=auto&amp;hl=fr&amp;q={{Entreprise.ENT_RUE}}+{{Entreprise.ENT_Ville}}&amp;t=p&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="100%"></iframe>
        </div>
    </div>
{% endblock %}