{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="divFiltre">
    <div class="barreRecherche">
    <form action="/GestionFiltre" method="post">
        <input type="text" name="RS" placeholder="Nom entreprise">
        <input type="text" name="ville" placeholder="Ville">
        <input type="text" name="CP" placeholder="CP">
        <input type="text" name="pays" placeholder="Pays">
        <input type="text" name="Nom" placeholder="Nom du tuteur">
        <input type="submit" value="Rechercher">
    </form>
    </div>
</div>
{% set Role = app.session.get('Role') %}
    {% if Role.UTI_ROLE == 1 %}
    <div class="row ml-4" id="bloc">
        {% for ENTREPRISE in listeEntreprises %}
            {% set personnes = [] %}
                <div class="col-sm-6 mt-2 mb-2 rounded-sm">
                <div class="card" style="background-color: #69878a;">
                <div class="card-header">
                    <div class="iconeModifSupr">
                        <i class="fa-solid fa-pen" id="iconModifier"></i>
                        <i class="fa-solid fa-trash-can" id="iconSupprimer"></i>
                    </div>
                    <div>
                        <h6>Secteur d'activité</h6>
                        <a href="{{ path('InfosEntreprise',{ 'id': ENTREPRISE.id}) }}"><h5 class="card-title">{{ENTREPRISE.ent_raison_sociale}}</h5></a>
                    </div>
                </div>
                <div class="card-body">
                {% for personne in listePersonnes %}
                    {% if (personne['ent_raison_sociale'] == ENTREPRISE['ent_raison_sociale']) %}
                        {% set personnes = personnes|merge([personne['PER_NOM'], personne['PER_PRENOM'], '|']) %}
                    {% endif %}
                {% endfor %}
                <p>
                    <span class="medium"> Ville : {{ ENTREPRISE.ent_ville }}</span><br/>
                </p>
                <p>
                    <span class="medium"> CP : {{ ENTREPRISE.ent_cp }}</span><br/>
                </p>
                <p>
                    <span class="medium"> Nom : {% for LesPersonnes in personnes %} {{LesPersonnes}} {% endfor %}</span><br/>
                </p>
                <p>
                    <span class="small">
                    {% if ENTREPRISE['ent_site_web'] is not null %}
                        <a href= "{{ENTREPRISE['ent_site_web']}}">Lien vers le site web</a></span><br/>
                    {% else %}
                        <p>Pas de site</p>
                    {% endif %}
                </p>
                <p>
                <span class="small"> Options : </span>
                    <a href="#" class="btn btn-primary">SLAM</a>
                    <a href="#" class="btn btn-primary">SISR</a>
                </p>
                </div>
                </div>
                </div>
        {% endfor %}

        {% else %}
        <div class="row ml-4" id="bloc">
        {% for ENTREPRISE in listeEntreprises %}
            {% set personnes = [] %}
                <div class="col-sm-6 mt-2 mb-2 rounded-sm">
                <div class="card" style="background-color: #69878a;">
                <div class="card-header">
                    <div class="iconeModifSupr">
                        <i class="fa-solid fa-pen" id="iconModifier"></i>
                        <i class="fa-solid fa-trash-can" id="iconSupprimer"></i>
                    </div>
                    <div>
                        <h6>Secteur d'activité</h6>
                        <a href="{{ path('InfosEntreprise',{ 'id': ENTREPRISE.id}) }}"><h5 class="card-title">{{ENTREPRISE.ent_raison_sociale}}</h5></a>
                    </div>
                </div>
                <div class="card-body">
                {% for personne in listePersonnes %}
                    {% if (personne['ent_raison_sociale'] == ENTREPRISE['ent_raison_sociale']) %}
                        {% set personnes = personnes|merge([personne['PER_NOM'], personne['PER_PRENOM'], '|']) %}
                    {% endif %}
                {% endfor %}
                <p>
                    <span class="small"> CP : {{ ENTREPRISE.ent_cp }}</span><br/>
                </p>
                <p>
                    <span class="small"> Nom : {% for LesPersonnes in personnes %} {{LesPersonnes}} {% endfor %}</span><br/>
                </p>
                <p>
                    <span class="small">
                    {% if ENTREPRISE['ent_site_web'] is not null %}
                        <a href= "{{ENTREPRISE['ent_site_web']}}">Lien vers le site web</a></span><br/>
                    {% else %}
                        <p>Pas de site</p>
                    {% endif %}
                </p>
                <p>
                <span class="small"> Options : </span>
                    <a href="#" class="btn btn-primary">SLAM</a>
                    <a href="#" class="btn btn-primary">SISR</a>
                </p>
                </div>
                </div>
                </div>
                
        {% endfor %}
    {% endif %} 
{% endblock %}
