{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	<div class="divFiltre">
		<div class="barreRecherche">
		<form action="/GestionFiltre" method="post">
			<div class="champRecherche">
				<input type="text" name="RS" placeholder="Nom entreprise">
				<input type="text" name="ville" placeholder="Ville">
				<input type="text" name="CP" placeholder="Code postal">
				<input type="text" name="pays" placeholder="Pays">
				<input type="text" name="nom" placeholder="Nom du tuteur">
				<select name="specialite" class="selectRech">
					<option value="">Specialité</option>
					<option value="SLAM">SLAM</option>
					<option value="SISR">SISR</option>
					<option value="Licences">Licences</option>
				</select>
				<input type="submit" value="Rechercher">
			</div>
		</form>
		</div>
	</div>

	{% set Role = app.session.get('Role') %}
	{% if Role.UTI_ROLE == 1 %}
		<div class="row ml-4" id="bloc">
			{% for ENTREPRISE in listeEntreprises %}
				{% set personnes = [] %}
				<div class="col-sm-6 mt-2 mb-2 rounded-sm">
					<div class="card" style="background-color: #69878a;">
						<div class="card-header">
							<div class="iconeModifSupr">
								<div class="modifcompterow">
								<div class="modifcomptecolumn">
									<label class="labelinscr" for="datenaiss"></label>
								</div>
								</div>
								<a href="{{ path('ModifierEntreprise',{ 'id': ENTREPRISE.id}) }}"> <i class="fa-solid fa-pen" id="iconModifier"></i> </a>
								<a href="{{ path('SupprimerEntreprise',{ 'id': ENTREPRISE.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer cette entreprise ?');">
									<i class="fa-solid fa-trash-can" id="iconSupprimer"></i>
								</a>
							</div>
							<a href="{{ path('InfosEntreprise',{ 'id': ENTREPRISE.id}) }}">
								<h5 class="card-title">{{ENTREPRISE.ent_raison_sociale}}</h5>
							</a>
						</div>
						<div class="card-body">
							{% for personne in listePersonnes %}
								{% if (personne['ent_raison_sociale'] == ENTREPRISE['ent_raison_sociale']) %}
									{% set personnes = personnes|merge([personne['PER_NOM'], personne['PER_PRENOM'], '|']) %}
								{% endif %}
							{% endfor %}
							<p>
								<span class="large">
									CP :
									{{ ENTREPRISE.ent_cp }}</span><br/>
							</p>
							<p>
								<span class="large">
									Nom :
									{% for LesPersonnes in personnes %}
										{{LesPersonnes}}
									{% endfor %}
								</span><br/>
							</p>
                            <p>
								<span class="large">
									{% if ENTREPRISE['ent_site_web'] is not null %}
										<a href="{{ENTREPRISE['ent_site_web']}}">Lien vers le site web</a>
									</span><br/>
								{% else %}
									Pas de site
								{% endif %}
							</p>
							<p class="large">
							Options :
								{% for specialite in listeSpecialite %}
									{% if specialite['entreprise_id'] == ENTREPRISE.id %}
									<span class="badge badge-info">
									{{specialite['spe_libelle']}}
									</span>
									{% endif %}
								{% endfor %}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
			{% if ParamRecue is defined and ParamRecue == 'success' %}
       			<script> alert("Entreprise bien supprimée"); </script>
    			{% elseif ParamRecue is defined and ParamRecue == 'error' %}
        		<script> alert("Suppression échouée"); </script>
    		{% endif %}
		{% else %}
			<div class="row ml-4" id="bloc">
			{% for ENTREPRISE in listeEntreprises %}
				{% set personnes = [] %}
				<div class="col-sm-6 mt-2 mb-2 rounded-sm">
					<div class="card" style="background-color: #69878a;">
						<div class="card-header">
							<div class="iconeModifSupr">
								<div class="modifcompterow">
									<div class="modifcomptecolumn">
										<label class="labelinscr" for="datenaiss"></label>
									</div>
								</div>
							</div>
							<a href="{{ path('InfosEntreprise',{ 'id': ENTREPRISE.id}) }}">
								<h5 class="card-title">{{ENTREPRISE.ent_raison_sociale}}</h5>
							</a>
						</div>
						<div class="card-body">
							{% for personne in listePersonnes %}
								{% if (personne['ent_raison_sociale'] == ENTREPRISE['ent_raison_sociale']) %}
									{% set personnes = personnes|merge([personne['PER_NOM'], personne['PER_PRENOM'], '|']) %}
								{% endif %}
							{% endfor %}
							<p>
								<span class="large">
									CP :
									{{ ENTREPRISE.ent_cp }}</span><br/>
							</p>
							<p>
								<span class="large">
									Nom :
									{% for LesPersonnes in personnes %}
										{{LesPersonnes}}
									{% endfor %}
								</span><br/>
							</p>
                            <p>
								<span class="large">
									{% if ENTREPRISE['ent_site_web'] is not null %}
										<a href="{{ENTREPRISE['ent_site_web']}}">Lien vers le site web</a>
								</span><br/>
								{% else %}
									Pas de site
								{% endif %}
							</p>
							<p class="large">
							Options :
								{% for specialite in listeSpecialite %}
									{% if specialite['entreprise_id'] == ENTREPRISE.id %}
									<span class="badge badge-info">
									{{specialite['spe_libelle']}}
									</span>
									{% endif %}
								{% endfor %}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>{% endblock %}
